<% layout('templates/layout') -%>
				
<main id="landing" class="landing">
	<section>
		<h1>Your Radio from Everywhere</h1>
		<ul class="light">
			<li class="fa fa-youtube"></li>
			<li class="fa fa-spotify"></li>
			<li class="fa fa-soundcloud"></li>
		</ul>
		<ul class="dark">
			<li class="fa fa-youtube"></li>
			<li class="fa fa-spotify"></li>
			<li class="fa fa-soundcloud"></li>
		</ul>
	</section>
</main>