<% layout('templates/layout') -%>

<main id="youtube" class="youtube">
	<section>
		<h1><span class="fa fa-youtube"></span> YouTube Access</h1>
		<ul class="logins">
			<li>
				<p class="button youtube-bg"><span class="fa fa-youtube"></span> Youtube Login</p>
			</li>
		</ul>
	</section>
</main>